* {
    margin: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(54, 37, 37, 0.713), rgb(69, 23, 196));
}

p {
    color: aliceblue;
}

.containerH1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.subTitle {
    margin: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

section {
    display: flex;
    align-items: center;
    /* background: rgba(0, 0, 255, 0.288); */
    width: 90%;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: rgba(128, 255, 0, 0.179); */
    border-radius: 2px;
    width: 90%;
    /* background-color: orange; */
}

.containerTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

#txtReadyonly {
    background: rgb(225, 221, 221);
}

#txtReadyonly {
    color: blue;
}

textarea {
    outline: none;
    margin: 10px;
    text-align: left;
    width: 100%;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

.containerBtns {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: crimson; */
    width: 54%;
    padding: 20px ;
    margin-bottom: -10px;
}

.btns {
    width: 120px;
    height: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.24);
    border: 0;
    background: rgb(209, 222, 235);
    margin: 10px 4px 0px 0px;
    color: rgb(38, 38, 38);
    font-weight: 400;
}

.btns:hover {
    background: blue;
    cursor: pointer;
}

#btnLimpar {
    width: 120px;
    height: 30px;
    padding: 2px;
    text-align: center;
    padding: 2px;
    background: rgba(225, 0, 0, 0.707);
    color: white;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.453);
}

#btnLimpar:hover {
    background: red;
}

@media screen and (max-width: 700px) {
    .containerBtns {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 500px;
    }

    /* .btns {
        width: 120px;
    } */

    @media screen and (max-width: 550px) {
        .containerBtns {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 400px;
    }

    /* .btns {
        width: 120px;
    } */
  }
}

@media screen and (max-width: 490px) {
    input {
        width: 300px;
    }

    /* .btns {
        width: 80px;
    } */
}