* {
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerH1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.subTitle {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

section {
    display: flex;
    align-items: center;
    height: 500px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 1000px; */
    background: rgba(128, 255, 0, 0.357);
    border-radius: 6px;
}

.containerTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

#txtReadyonly {
    background: rgb(225, 221, 221);
}

input {
    outline: none;
    margin: 4px;
    text-align: left;
    width: 660px;
    height: 150px;
    padding: 8px;
    border-radius: 5px;
}

.containerBtns {
    display: flex;
    flex-direction: row;
}

.btns {
    width: 120px;
    height: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.582);
}

#btnLimpar {
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 2px;
    background: rgba(225, 0, 0, 0.878);
    color: white;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.582);
    
}

@media screen and (max-width: 700px) {
    .containerBtns {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 500px;
    }

    .btns {
        width: 100px;
    }

    @media screen and (max-width: 550px) {
        .containerBtns {
            display: flex;
            flex-direction: row;
        }
    
        input {
            width: 400px;
        }
    
        .btns {
            width: 80px;
        }
}


