* {
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerH1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.subTitle {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

section {
    display: flex;
    align-items: center;
    height: 500px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    background: chartreuse;
}

.containerTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

#txtReadyonly {
    background: rgb(225, 221, 221);
}

input {
    outline: none;
    margin: 4px;
    text-align: left;
    width: 660px;
    height: 150px;
    padding: 8px;
    border-radius: 5px;
}

.containerBtns {
    display: flex;
    flex-direction: row;
}

.btns {
    width: 120px;
    height: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}

#btnLimpar {
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 2px;
    background: rgba(225, 0, 0, 0.878);
    color: white;
}

@media screen and (max-width: 1000px) {
    .containerBtns {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 500px;
    }

    .btns {
        width: 100px;
    }
}


